<!DOCTYPE html>

<html>

<head>
    <meta chartset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">

    <meta name="description" content="cognitive games and exercises">
    <meta name="keywords" content="BRAINer">
    <meta name="author" content="Three-One-Three">

    <title> Payment/BRAINer </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <section class="header">
        <div class="logo-section">
            <a href="home.html"><img src="Image/logo.png" alt="logo"></a>
            <a href="home.html#company-name" class="company-name"><strong>BRAINer</strong></a>
        </div>

        <div>
            <ul class="navbar">
                <li><a href="home.html" class="active"> Home </a></li>
                <li><a href="games&exercises.html"> Games & Exercises </a></li>
                <li><a href="services.html"> Services </a></li>

                <button class="Log-in">Log in</button>
                <button class="Register">Register</button>
            </ul>
        </div>
    </section>

    <section class="payment">
        <div class="payment-container">
            <form action="">
                <div class="payment-row">
                    <div class="payment-column">
                        <h3 class="payment-title">Billing Address</h3>

                        <div class="payment-input-box">
                            <span>Full Name: </span>

                            <input type="text" placeholder="Enter your name" </div>
                        </div>

                        <div class="payment-input-box">
                            <span>Email: </span>

                            <input type="email" placeholder="example@example.com" </div>
                        </div>

                        <div class="payment-input-box">
                            <span>Address: </span>

                            <input type="text" placeholder="House-Street-Locality" </div>
                        </div>

                        <div class="payment-input-box">
                            <span>City: </span>

                            <input type="text" placeholder="Chattogram" </div>
                        </div>

                        <div class="payment-flex-left">
                            <div class="payment-input-box">
                                <span>State: </span>

                                <input type="text" placeholder="Bangladesh" </div>
                            </div>

                            <div class="payment-input-box">
                                <span>ZIP Code: </span>

                                <input type="text" placeholder="example-1234" </div>
                            </div>
                        </div>
                    </div>

                    <div class="payment-column">
                        <h3 class="payment-title">Payment</h3>

                        <div class="payment-input-box">
                            <span>Cards Accepted: </span>

                            <img class="payment-photo" src="Image/payment.png" alt="payment-photo">
                        </div>

                        <div class="payment-input-box">
                            <span>Name on Card: </span>

                            <input type="text" placeholder="Mr. Muhammad" </div>
                        </div>

                        <div class="payment-input-box">
                            <span>Credit Card Number: </span>

                            <input type="number" placeholder="1111 2222 3333 4444" </div>
                        </div>

                        <div class="payment-input-box">
                            <span>Exp. Month: </span>

                            <input type="text" placeholder="December" </div>
                        </div>

                        <div class="payment-flex">
                            <div class="payment-input-box">
                                <span>Exp. Year: </span>

                                <input type="number" placeholder="2027" </div>
                            </div>

                            <div class="payment-input-box">
                                <span>CVV: </span>

                                <input type="text" placeholder="123" </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="payment-button">Submit</button>
            </form>
        </div>
    </section>

    <footer class="section-padding-1">
        <div class="col">
            <h3 class="company-name">BRAINer</h3>
            <a href="register.html">Get Started</a>
            <a href="login.html">Log In</a>
            <a href="games&exercises.html">Our Games & Exercises</a>
            <a href="services.html">Services</a>
        </div>

        <div class="col1">
            <h4>Three-One-Three</h4>
            <a href="#">About Us</a>
            <a href="#">Careers</a>
        </div>

        <div class="col1">
            <h4>Help</h4>
            <a href="#">Help Center</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col1">
            <h4>Legal</h4>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms od Services</a>
        </div>

        <div class="col-install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="Image/store02.jpg" alt="appStore">
                <img src="Image/store01.jpg" alt="playStore">
            </div>
            <p>Secured Payment Gateway</p>
            <img class="payment-photo" src="Image/payment.png" alt="">
        </div>

        <div class="copyright">
            <p>Copyright &#169 2024 <strong>Three-One-Three</strong>. All rights reserved.</p>
        </div>
    </footer>

    <script src="script.js"> </script>
</body>

</html>