{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Form</title>
</head>
<body>
    <h1>User Profile Form</h1>
    <form method="POST">
        {% csrf_token %}
        
        {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
        {{ field }}<br><br>
    {% endfor %}
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
{% endblock  %}