<footer class="section-padding-1">
    <div class="col">
        <h3 class="company-name">BRAINer</h3>
        <a href="/reg">Get Started</a>
        <a href="/login">Log In</a>
        <a href="/games">Our Games & Exercises</a>
        <a href="/services">Services</a>
    </div>

    <div class="col1">
        <h4>Three-One-Three</h4>
        <a href="#">About Us</a>
        <a href="#">Careers</a>
    </div>

    <div class="col1">
        <h4>Help</h4>
        <a href="#">Help Center</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="col1">
        <h4>Legal</h4>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms od Services</a>
    </div>

    <div class="col-install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="/static/Image/store02.jpg" alt="appStore">
            <img src="/static/Image/store01.jpg" alt="playStore">
        </div>
        <p>Secured Payment Gateway</p>
        <img class="payment-photo" src="/static/Image/payment.png" alt="">
    </div>

    <div class="copyright">
        <p>Copyright &#169 2024 <strong>Three-One-Three</strong>. All rights reserved.</p>
    </div>
</footer>
<script src="/static/script.js"> </script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        
</body>

</html>
