{% extends "base.html" %}
{% block content %}
    <section class="thumbnail">
        <h1>Discover the potential of </h1>
        <h1>your mind</h1>
        <p>Train your memory, cognitive skills with the best brain training program.</p>
        <a href = "/reg"><button class="Get-started">Get started</button></a>
        <h4>Start now for free!</h4>
    </section>

    <section class="about">
        <h5 class="headline">Your value your brain's well-being. We share that commitment.</h5>
        <p>In today's busy world, <strong>BRAINer</strong>, an app utilizing the Memory Palace technique, enhances
            memory for all. It's designed to be accessible and effective, bridging cognitive science and technology. By
            aiding memory and cognitive health, it targets a broader audience beyond those with challenges, promoting
            proactive mental well-being.</p>

        <div class="info">
            <div class="info-01">
                <h3>Develop the abilities that are important to you</h3>
                <p>Memory, Processing Speed, Problem Solving, etc.<br> <strong>BRAINer</strong> focuses on key cognitive
                    skills.</p>
            </div>

            <div class="info-02">
                <h3>Make science exciting and thorough</h3>
                <p><strong>BRAINer</strong> turns science into fun games. We use your scores to give helpful advice
                    about your brain.</p>
            </div>
        </div>

        <div class="info">
            <div class="info-03">
                <h3>Practice using your brain every day</h3>
                <p>Play different games daily to keep your mind active. Track your progress to stay motivated.</p>
            </div>

            <div class="info-04">
                <h3>Personalized brain exercises just for you</h3>
                <p><strong>BRAINer</strong> adapts to your unique brain, no matter your age or skill level.</p>
            </div>
        </div>

        <div class="feature">
            <img class="thumbnail-02" src="/static/image/thumbnail-2.jpg"  alt="logo-02">
        </div>

        <div class="Expectations">
            <h2>It's like playing games.</h2>
            <p>Our scientists turn lab work into fun brain games that are easy to understand.</p>
        </div>
    </section>

    <section class="banner">
        <img class="bannerphoto" src="/static/image/3476.jpg"  alt="bannerphoto">
        <h5>Meet BRAINer's Consultants</h5>
        <p>Patients can get support from BRAINer's consultants through the website by scheduling appointments of
            video-call conference or sending e-mails.</p>
            <a href = "/services"><button class="learn-more">Learn more</button></a>
    </section>

    
    {% endblock  %}  
    
