{% extends "base.html" %}


{% block content %}
<section class="thumbnail-04">
    <h5>We support pioneering cognitive studies</h5>
</section>
Daiyan, [4/23/2024 9:00 PM]
<section class="consultants-details">
        <p class="consultants-details01">We collaborate with over 100 consultants worldwide,</p>
        <p>teaming up with experts in cognitive science and technology and education.</p>
        <p class="consultants-details02">For our consulting partners,</p>
        <p>we offer assistance with data analysis and provide free access to our tools,</p>
        <p>aiding the progress of understanding human cognition.</p>

        <img class="thumbnail05" src="/static/image/thumbnail05.jpg" alt="">

        <p>Are you a patient looking for treatment or advice from our consultants?</p>

        <section class="layout">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4 class="title">Essential</h4>
                            <h5>$0<span>/visit</span></h5>
                            <p class="description"><strong>3</strong> games per list</p>
                            <p class="description">&#10004 Keep tracks</p>
                            <p class="description">&#10004 Dashboard access</p>
                            <p class="description">&#10008 Consultant services</p>
                            <p class="description">&#10008 Sharing</p>
                            <p class="description">&#10008 Unlimited members</p>
                            <p class="description">&#10008 Extra security</p>
                            <p class="description">&#10004 Ads</p> 
                            <p class="description">&#10004 Help center access</p>

                            <a href = "/reg"><button class="Get-started">Get started</button></a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4 class="title">Plus</h4>
                            <h5>$10<span>/visit</span></h5> 
                            <p class="description"><strong>5</strong> games per list</p>
                            <p class="description">&#10004 Keep tracks</p>
                            <p class="description">&#10004 Dashboard access</p>
                            <p class="description">&#10004 Consultant services via SMS</p>
                            <p class="description">&#10004 Sharing</p>
                            <p class="description">&#10004 Unlimited members</p>
                            <p class="description">&#10008 Extra security</p>
                            <p class="description">&#10008 Ads</p> 
                            <p class="description">&#10004 Help center access</p>

                            <button class="enroll-now">Enroll Now</button>
                        </div>
                    </div>

<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4 class="title">Premium</h4>
                            <h5>$20<span>/visit</span></h5>
                            <p class="description"><strong>Unlimited</strong> games per list</p>
                            <p class="description">&#10004 Keep tracks</p>
                            <p class="description">&#10004 Dashboard access</p>
                            <p class="description">&#10004 Consultant services via MMS</p>
                            <p class="description">&#10004 Sharing</p>
                            <p class="description">&#10004 Unlimited members</p>
                            <p class="description">&#10004 Extra security</p>
                            <p class="description">&#10008 Ads</p> 
                            <p class="description">&#10004 Help center access</p>

                            <button class="enroll-now">Enroll Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock  %}
